* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'inter', sans-serif;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.header {
    background-color: #4A2B33;
    height: 120px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 56px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    position: relative;
}

.menu__list {
    display: flex;
    gap: 20px;
    color: #D27487;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__icons-items {
    display: flex;
    gap: 16px;
    
}

.section-preview {
    background-color: #4A2B33;;
    margin: 0 auto;
    
}

.section__wrapper {
    padding-bottom: 36px;
    display: flex;
    max-width: 1328px;
    margin: 0 auto;
}

.section-preview__img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}

.section-description {
    height: 713px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-description__wrapper {
    width: 800px;
    font-size: 32px;
    text-align: center;
}

.section-descripton__text--italic {
    font-style: italic;
}

.text--bold {
    font-weight: 700;
    font-family: 'Azeret Mono', sans-serif;
}

.section-description__title {
    font-size: 17px;
    margin-bottom: 3px;
}

.article-menu {
    background-color: #E9E9E3;
    padding: 120px 0;
}

.article-menu__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 104px;
}

.article-menu__description {
    margin-bottom: 63px;
    width: 511px;
}
.article-menu__title {
    font-size: 18px;
    margin-bottom: 17px;
    color: #6F6F64;
}

.aricle-menu__description {
    font-size: 32px;
    color: #6F6F64;
}

.article-menu__button {
    width: 531px;
    height: 58px;
    border: 2px solid #6F6F64;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6F6F64;
}

.article-menu__button--color {
    background-color: #6F6F64;
}

.aritcle-menu__button-text--color {
    color: #FFFFFF;
}

.article-menu__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

